<html>
<head></head>
<body style="padding: 0; margin: 0;">
<style>
    @font-face {
        font-family: 'CenturyGothic';
        src: url('http://public.ubid.com/front/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('http://public.ubid.com/front/fonts/CenturyGothic.woff') format('woff'),
        url('http://public.ubid.com/front/fonts/CenturyGothic.ttf')  format('truetype'),
        url('http://public.ubid.com/front/fonts/CenturyGothic.svg#CenturyGothic') format('svg');
        font-weight: normal;
        font-style: normal;
    }
</style>
<div style="background-color: white; font-family: 'CenturyGothic'; font-size: 14px; color: black;">
    <div style="padding: 20px 50px 20px 50px;">
        <a href="{{ baseUrl }}" target="_blank" title="E-electricity" style="display: inline-block; height: 40px; width: 190px; margin: 0;"><img style="border: none;" src="{{ logo }}" alt="E-electricity" height="40" width="190"/></a>
        <a href="{{ baseUrl }}/suppliers/logistics-services" target="_blank" title="Logistics" style="display: inline-block; height: 40px; width: 40px; margin: 5px 10px 5px 0; float: right;"><img style="border: none;" src="{{ logistic }}" alt="Logistics" height="40" width="40" /></a>
        <a href="{{ baseUrl }}/suppliers/services" target="_blank" title="Service Provider" style="display: inline-block; height: 40px; width: 40px; margin: 5px 10px 5px 0; float: right;"><img style="border: none;" src="{{ service_provider }}" alt="Service Provider" height="40" width="40" /></a>
        <a href="{{ baseUrl }}//buyers" target="_blank" title="Product / Service requester" style="display: inline-block; height: 40px; width: 40px; margin: 5px 10px 5px 0; float: right;"><img style="border: none;" src="{{ service_resquest }}" alt="Product / Service requester" height="40" width="40" /></a>
        <a href="{{ baseUrl }}/suppliers" target="_blank" title="Suppliers" style="display: inline-block; height: 40px; width: 40px; margin: 5px 10px 5px 0; float: right;"><img style="border: none;" src="{{ supplier }}" alt="Suppliers" height="40" width="40" /></a>
        <a href="{{ baseUrl }}/tenders/Tender" target="_blank" title="Business opportunities" style="display: inline-block; height: 40px; width: 40px; margin: 5px 10px 5px 0; float: right;"><img style="border: none;" src="{{ buniness_opportunity }}" alt="Business opportunities" height="40" width="40" /></a>
        <br clear="all"/>
    </div>
    <div style="background-color: #1D69AD; color: white; height: 26px; line-height: 26px; font-size: 14px; text-align: center; text-transform: uppercase;">
        The professional network for electrical business opportunities
    </div>
    <div style="background-color: white; padding: 30px;">
        <div style="background-color: #F7F8FC; padding: 50px 230px 200px 80px; background-image: url('{{ logo_vertical }}'); background-position: bottom right; background-repeat: no-repeat;">
            <p>Dear {{ Name }},</p>
            <p>&nbsp;</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehender laborum.
            </p>

            <table style="border: 1px solid #ccc; border-spacing: 0; width: 100%;">
                {% if Tenders %}
                    <tr>
                        <th style="background-color: #1D69AD; color: white; padding: 5px 10px; text-align: left">
                            Tenders
                        </th>
                    </tr>
                    <tr>
                        <td style="background-color: white; color: #1D69AD; padding: 15px 10px;">
                                {% for key,tender in Tenders %}
                                    <p><a href="{{ baseUrl }}/#/tenders/details/{{ key }}" style="text-decoration:none;color: #1D69AD;"  target="_blank">{{ tender }}</a></p>
                                {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                {% if Tenders %}
                    <tr>
                        <th style="background-color: #1D69AD; color: white; padding: 5px 10px; text-align: left">
                            Consultations
                        </th>
                    </tr>
                    <tr>
                        <td style="background-color: white; color: #1D69AD; padding: 15px 10px;">
                                {% for key,consultation in Consultations %}
                                    <p><a href="{{ baseUrl }}/#/tenders/details/{{ key }}" style="text-decoration:none;color: #1D69AD;"  target="_blank">{{ consultation }}</a></p>
                                {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                {% if Buyers %}
                    <tr>
                        <th style="background-color: #1D69AD; color: white; padding: 5px 10px; text-align: left">
                            Buyers
                        </th>
                    </tr>
                    <tr>
                        <td style="background-color: white; color: #1D69AD; padding: 15px 10px;">
                                {% for key,buyer in Buyers %}
                                    <p><a href="{{ baseUrl }}/#/buyers{{ key }}" style="text-decoration:none;color: #1D69AD;"  target="_blank">{{ buyer }}</a></p>
                                {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                {% if Suppliers %}
                    <tr>
                        <th style="background-color: #1D69AD; color: white; padding: 5px 10px; text-align: left">
                            Suppliers
                        </th>
                    </tr>
                    <tr>
                        <td style="background-color: white; color: #1D69AD; padding: 15px 10px;">
                                {% for key,supplier in Suppliers %}
                                    <p><a href="{{ baseUrl }}/#/supplier{{ key }}" style="text-decoration:none;color: #1D69AD;"  target="_blank">{{ supplier }}</a></p>
                                {% endfor %}
                        </td>
                    </tr>
                {% endif %}

            </table>
            <p>
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </p>
            <p>&nbsp;</p>
            <p>
                See you soon on e-electricity
            </p>
        </div>
    </div>
    <div style="background-color: #1D69AD; padding: 17px 61px 20px 60px;; color: white;">
        <div style="width: 300px; height: 92px; border-bottom: white 1px solid; text-align: center; display: inline-block;">
            <a href="https://www.facebook.com/" target="_blank" title="join us on facebook" style="display: inline-block; border: 3px solid #1D69AD; height: 35px; width: 35px; overflow: hidden; border-radius: 10px; box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5); margin: 5px 10px 5px 5px;"><img alt="join us on facebook" src="{{ facebook }}" height="35" width="35" style="border: none;" /></a>
            <a href="https://twitter.com/" target="_blank" title="join us on twitter" style="display: inline-block; border: 3px solid #1D69AD; height: 35px; width: 35px; overflow: hidden; border-radius: 10px; box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5); margin: 5px 10px 5px 5px;"><img alt="join us on twitter" src="{{ twitter }}" height="35" width="30" style="border: none;" /></a>
            <a href="https://www.youtube.com/" target="_blank" title="join us on youtube" style="display: inline-block; border: 3px solid #1D69AD; height: 35px; width: 35px; overflow: hidden; border-radius: 10px; box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5); margin: 5px 10px 5px 5px;"><img alt="join us on youtube" src="{{ youtube }}" height="35" width="35" style="border: none;" /></a>
            <a href="https://plus.google.com/" target="_blank" title="join us on Google+" style="display: inline-block; border: 3px solid #1D69AD; height: 35px; width: 35px; overflow: hidden; border-radius: 10px; box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5); margin: 5px 10px 5px 5px;"><img alt="join us on Google+" src="{{ google }}" height="35" width="35" style="border: none;" /></a>
            <a href="https://www.linkedin.com/" target="_blank" title="join us on LinkedIn" style="display: inline-block; border: 3px solid #1D69AD; height: 35px; width: 35px; overflow: hidden; border-radius: 10px; box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5); margin: 5px 5px 5px 5px;"><img alt="join us on LinkedIn" src="{{ linkedin }}" height="35" width="35" style="border: none;" /></a>
            <span style="margin: 20px auto -8px auto; width: 170px; background-color: #1D69AD; font-size: 16px; text-align: center; display: inline-block;">Keep in touch</span>
        </div>

        <div style="width: 250px; height: 114px; text-align: left; display: inline-block; float: right;">
            <div style="margin-top: 10px;">
                <img style="display: inline; vertical-align: middle;" src="{{ phone }}" height="34" width="34" alt="Call us" />
                <a target="_blank" href="tel:+971125845267" style="color: white; font-size: 16px; line-height: 34px; text-decoration: none;">+971 1258 4526 7</a>
            </div>
            <div style="margin-top: 30px;">
                <img style="display: inline; vertical-align: middle;" src="{{ envelope }}" height="34" width="34" alt="Call us" />
                <a target="_blank" href="mailto:contact@e-electricity.com" style="color: white; font-size: 16px; line-height: 34px; text-decoration: none;">contact@e-electricity.com</a>
            </div>
        </div>

        <div style="text-align: center; font-size: 12px; margin: 60px 0 0 0;">Copyright &copy; E-electricity 2017. All rights reserved.</div>

    </div>
</div>
</body>
</html>