{% extends 'UbidElectricityBundle::email_template.html.twig' %}
{% block mailContent %}
    <p style="padding-bottom: 20px;">{{ 'email.contact.dear' | trans({'%username%': user.username}) }}</p>
    <p style="padding-bottom: 20px;">{{ 'email.contact.email_received' | trans({'%firstname%': firstName, '%lastname%': lastName }) }}</p>
    <p style="padding-bottom: 20px;">{{ 'email.contact.subject_value' | trans({'%subject%': subject}) }}</p>
    <p style="padding-bottom: 20px;">{{ 'email.contact.message' | trans }}</p>
    <p style="padding-bottom: 20px;">{{ message }}</p>
{% endblock %}