{% extends 'UbidElectricityBundle::email_template.html.twig' %}
{% block mailContent %}
    <p style="padding-bottom: 20px;">{{ 'email.new_bid_received.dear' | trans({'%firstname%': bid.getTender().getCreatorUser().getFirstName() }) }}</p>
    <p style="padding-bottom: 20px;">{{ 'email.new_bid_received.bid_from' | trans({'%firstname%': bid.getCreatorUser().getFirstName() }) }}</p>

    <table style="border: 1px solid #ccc; border-spacing: 0; width: 100%;">
        <tr>
            <th style="background-color: #1D69AD; color: white; padding: 5px 10px; text-align: left">
                {{ 'email.new_bid_received.bid_informations' | trans }}
            </th>
        </tr>
        <tr>
            <td style="background-color: white; color: #1D69AD; padding: 15px 10px;">
                <p><span style="color: #1D69AD;">{{ 'email.new_bid_received.reference' | trans }}</span> : {{ bid.getReference() }}</p>
                <p><span style="color: #1D69AD;">{{ 'email.new_bid_received.title' | trans }}</span> : {{ bid.getTitle() }}</p>
                <p><span style="color: #1D69AD;">{{ 'email.new_bid_received.description' | trans }}</span> : {{ bid.getDescription() | striptags}}</p>
            </td>
        </tr>
    </table>
{% endblock %}