<html>
<head></head>
<body style="padding: 0; margin: 0;">
<style>
    @font-face {
        font-family: 'CenturyGothic';
        src: url('{{ app.request.getSchemeAndHttpHost() }}/front/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('{{ app.request.getSchemeAndHttpHost() }}/front/fonts/CenturyGothic.woff') format('woff'),
        url('{{ app.request.getSchemeAndHttpHost() }}/front/fonts/CenturyGothic.ttf')  format('truetype'),
        url('{{ app.request.getSchemeAndHttpHost() }}/front/fonts/CenturyGothic.svg#CenturyGothic') format('svg');
        font-weight: normal;
        font-style: normal;
    }
</style>

<table style="background-color: white; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: black; width:95%; margin: auto;">
    <tr>
        <td style="padding: 20px 20px 20px 20px;">
            <table style="width: 100%;">
                <tr>
                    <td align="left">
                        <a href="{{ app.request.getSchemeAndHttpHost() }}" target="_blank" title="E-electricity" style="display: inline-block; height: 60px; width: 285px; margin: 0;"><img style="border: none;" src="{{ app.request.getSchemeAndHttpHost() }}/front/img/e-electricity-logo-blue.png" alt="E-electricity" height="60" width="285"/></a>
                    </td>
                    <td align="right">
                        <table style="float: right">
                            <tr>
                                <td>
                                    <a href="{{ app.request.getSchemeAndHttpHost() }}/tenders/Tender" target="_blank" title="Logistics" style="display: inline-block; height: 60px; width: 60px; margin: 0px 5px 0px 0;"><img style="border: none;" src="{{ app.request.getSchemeAndHttpHost() }}/front/img/logistic_agent.png" alt="Logistics" height="60" width="60" /></a>
                                </td>
                                <td>
                                    <a href="{{ app.request.getSchemeAndHttpHost() }}/suppliers" target="_blank" title="Service Provider" style="display: inline-block; height: 60px; width: 60px; margin: 0px 5px 0px 0;"><img style="border: none;" src="{{ app.request.getSchemeAndHttpHost() }}/front/img/service_provider.png" alt="Service Provider" height="60" width="60" /></a>
                                </td>
                                <td>
                                    <a href="{{ app.request.getSchemeAndHttpHost() }}/buyers" target="_blank" title="Product / Service requester" style="display: inline-block; height: 60px; width: 60px; margin: 0px 5px 0px 0;"><img style="border: none;" src="{{ app.request.getSchemeAndHttpHost() }}/front/img/service_requester.png" alt="Product / Service requester" height="60" width="60" /></a>
                                </td>
                                <td>
                                    <a href="{{ app.request.getSchemeAndHttpHost() }}/category/services/suppliers" target="_blank" title="Suppliers" style="display: inline-block; height: 60px; width: 60px; margin: 0px 5px 0px 0;"><img style="border: none;" src="{{ app.request.getSchemeAndHttpHost() }}/front/img/supplier.png" alt="Suppliers" height="60" width="60" /></a>
                                </td>
                                <td>
                                    <a href="{{ app.request.getSchemeAndHttpHost() }}/category/logistics-services/suppliers" target="_blank" title="Business opportunities" style="display: inline-block; height: 60px; width: 60px; margin: 0px 5px 0px 0;"><img style="border: none;" src="{{ app.request.getSchemeAndHttpHost() }}/front/img/buniness_opportunity.png" alt="Business opportunities" height="60" width="60" /></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background-color: #1D69AD; color: white; height: 26px; line-height: 26px; font-size: 14px; text-align: center; text-transform: uppercase;">
            The professional network for electrical business opportunities
        </td>
    </tr>
    <tr>
        <td style="background-color: white; padding: 20px;">
            <div style="background-color: #F7F8FC; padding: 30px 30px 30px 30px;">
                {% block mailContent %}

                {% endblock %}
            </div>
        </td>
    </tr>
    <tr>
        <td style="background-color: #1D69AD; padding: 20px 20px 20px 20px; color: white;">

            <table style="width: 100%; background-color: #1D69AD; color: white;">
                <tr>
                    <td>
                        <table style="width: 408px; height: 96px; border-bottom: white 1px solid; text-align: center; display: inline-block;">
                            <tr>
                                <td>
                                    <a href="https://www.facebook.com/" target="_blank" title="join us on facebook" style="display: inline-block; border: 3px solid #1D69AD; height: 44px; width: 44px; max-height: 44px; overflow: hidden; border-radius: 10px; box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5); margin: 5px 10px 5px 5px;"><img alt="join us on facebook" src="{{ app.request.getSchemeAndHttpHost() }}/front/img/facebook.png" height="44" width="44" style="border: none;" /></a>
                                </td>
                                <td>
                                    <a href="https://twitter.com/" target="_blank" title="follow us on twitter" style="display: inline-block; border: 3px solid #1D69AD; height: 44px; width: 44px; max-height: 44px; overflow: hidden; border-radius: 10px; box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5); margin: 5px 10px 5px 5px;"><img alt="follow us on twitter" src="{{ app.request.getSchemeAndHttpHost() }}/front/img/twitter.png" height="44" width="44" style="border: none;" /></a>
                                </td>
                                <td>
                                    <a href="https://www.youtube.com/" target="_blank" title="join us on youtube" style="display: inline-block; border: 3px solid #1D69AD; height: 44px; width: 44px; max-height: 44px; overflow: hidden; border-radius: 10px; box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5); margin: 5px 10px 5px 5px;"><img alt="join us on youtube" src="{{ app.request.getSchemeAndHttpHost() }}/front/img/youtube.png" height="44" width="44" style="border: none;" /></a>
                                </td>
                                <td>
                                    <a href="https://plus.google.com/" target="_blank" title="join us on Google+" style="display: inline-block; border: 3px solid #1D69AD; height: 44px; width: 44px; max-height: 44px; overflow: hidden; border-radius: 10px; box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5); margin: 5px 10px 5px 5px;"><img alt="join us on Google+" src="{{ app.request.getSchemeAndHttpHost() }}/front/img/google.png" height="44" width="44" style="border: none;" /></a>
                                </td>
                                <td>
                                    <a href="https://www.linkedin.com/" target="_blank" title="join us on LinkedIn" style="display: inline-block; border: 3px solid #1D69AD; height: 44px; width: 44px; max-height: 44px; overflow: hidden; border-radius: 10px; box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5); margin: 5px 5px 5px 5px;"><img alt="join us on LinkedIn" src="{{ app.request.getSchemeAndHttpHost() }}/front/img/linkedin.png" height="44" width="44" style="border: none;" /></a>
                                </td>
                                <td>
                                    <a href="https://www.instagram.com/" target="_blank" title="follow us on Instagram" style="display: inline-block; border: 3px solid #1D69AD; height: 44px; width: 44px; max-height: 44px; overflow: hidden; border-radius: 10px; box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5); margin: 5px 5px 5px 5px;"><img alt="follow us on Instagram" src="{{ app.request.getSchemeAndHttpHost() }}/front/img/instagram.png" height="44" width="44" style="border: none;" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" align="center">
                                    <span style="margin: 20px auto -8px auto; width: 170px; background-color: #1D69AD; color: #FFFFFF; font-size: 16px; text-align: center; display: inline-block;">Keep in touch</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td align="right">
                        <table style="width: 260px; height: 114px; text-align: left; display: inline-block; float: right;">
                            <tr>
                                <td style="padding-top: 10px;">
                                    <img style="display: inline; vertical-align: middle;" src="{{ app.request.getSchemeAndHttpHost() }}/front/img/phone.png" height="34" width="34" alt="Call us" />
                                    <a target="_blank" href="tel:+971125845267" style="color: white; font-size: 16px; line-height: 34px; text-decoration: none;">+971 1258 4526 7</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 30px;">
                                    <img style="display: inline; vertical-align: middle;" src="{{ app.request.getSchemeAndHttpHost() }}/front/img/envelope.png" height="34" width="34" alt="Call us" />
                                    <a target="_blank" href="mailto:contact@e-electricity.com" style="color: white; font-size: 16px; line-height: 34px; text-decoration: none;">contact@e-electricity.com</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center; font-size: 12px; padding: 50px 0 0 0; margin:0;">
                        Copyright &copy; E-electricity 2017. All rights reserved.
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>